* {
  font-family: 'Red Hat Display', sans-serif;
}

#root {
  height: 100vh;
}

.custom-btn {
  border: 2px solid #000;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  /* width: 150px; */
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: all .25s;
}

.custom-btn::after {
  content: '';
  display: block;
  width: 25%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  z-index: -1;
  transform: skewX(-25deg) translateX(-150%);
  transition: all .5s ease-in-out;
}

.custom-btn:hover::after {
  transform: skewX(-25deg) translateX(400%);
}

.custom-btn:hover {
  font-weight: bold;
}

.custom-btn:disabled {
  background-color: #ccc;
  font-weight: initial;
}

.custom-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.custom-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 10%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  transition: all .5s ease-in-out;
}
.custom-link:hover::after {
  transform: translateX(0);
}

.dialog-box {
  border-radius: 0 10px 10px 10px;
}
.dialog-box-right {
  border-radius: 10px 0 10px 10px;
}